* {
    margin: 0;
    padding: 0;
}
body {
    font-family: Open Sans, sans-serif;
}

 nav {
   position: fixed;
   float: left;
   top: 0;
   left: 0;
   width: 100%;
   text-align: center;
   margin-top: 250px;
}
 nav ul li {
    list-style: none;    
    margin: 10px;
}
 nav ul li a {
    /*display: block;
    padding: 20px 40px;
    text-decoration: none;
    color: #fff;
    transition: background-color 0.4s ease;*/

    width: 12px;
    height: 12px;
    display: block;
    background: #535E64;
    cursor: pointer;    
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -o-border-radius: 20px;
    border-radius: 50%;
    box-shadow: inset 0 0 3px rgba(0,0,0,0.3);
    border: 1px solid #000;
    padding: 4px;
    transition: background-color 0.4s ease;

    /*Text*/
    text-indent: 19px;
    text-decoration: none;
}
 nav ul li a:hover{
    background: #fff; cursor: pointer; 
}
 nav ul li a.active{
    background: #DC6226; background: #DC6226; cursor: default; 
}
 section {
    padding: 30% 0;
    text-align: center;
}
section.about { background-color: #888; }
section.team { background-color: #999; }
section.gallery { background-color: #aaa; }
section.testimonials { background-color: #bbb; }
section.contact { background-color: #ccc; }