/*--contact style start here--*/
.contact{
	   background-color:#FAFAFD;
	   padding: 2em 0px ;
}
.contact-main h3{
	       font-size:3em;
	       font-weight:300;
}
.contact-left h3{
         font-size:1.3em;
         font-weight:700;
         padding:1em 0px;
          font-family: 'Oswald', sans-serif;
}
.contact-left h4{
         font-size:1.3em;
         font-weight:700;
         padding:1em 0px;
          font-family: 'Oswald', sans-serif;
}
.contact-left h5{
         font-size:1.2em;
         font-weight:700;
         padding:1em 0px;
          font-family: 'Oswald', sans-serif;
}
.contact-left p{
         font-size:1em;
         font-weight:100;
          font-family: 'Oswald', sans-serif;
          margin-bottom:10px;
}
.contact-left p a{
	color:deepskyblue;
}
.contact-left p a:hover{
	text-decoration:none;
	color:#777;
	 transition: all 0.3s ease;
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
}
.contact-left ul {
       list-style: none;
       padding:0px;
}
.contact-left ul li {
      padding:7px 0px;
}
.contact-left ul li a:hover{
       color:deepskyblue;
       text-decoration: none;
        transition: all 0.3s ease;
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
}
.contact-left input[type="text"] {
        width: 80%;
        padding: 12px;
        font-size: 15px;
        font-weight: 400;
        margin-bottom: 10px;
        outline:none;
        position:relative;
}
.contact-left textarea{
	    width: 80%;
        height: 8em;
        padding: 10px;
        font-size: 15px;
        font-weight: 400;
        outline:none;
        resize:none;
}
.contact-left input[type="submit"] {
       padding: 14px 1.5em;
       font-size: 15px;
       font-weight: 400;
       background-color: black;
       color: #fff;
       border:none;
       outline: none;
}
.contact-left input[type="submit"]:hover{
	  color:#000;
	  background-color:deepskyblue;
   transition: all 0.3s ease;
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
}
/* media quaries start here--*/
@media(max-width:1024px){
.contact-left ul {
    margin: 0px;
    padding: 0px;
}
.contact-main h3 {
           font-size: 3em;
}
.contact-left h3 {
          font-size: 1.3em;
}
}
@media(max-width:768px){
.contact {
    padding: 1em 0px;
}
.contact-main {
            text-align: center;
}
.contact-main h3 {
             font-size: 3em;
}
.contact-left h3 {
            font-size: 1.3em;
            padding:8px 0px;
}
.contact-left h4 {
       padding: 10px 0px;
}
.contact-us-right {
  padding: 1em 0px;
  text-align: center;
}
.contact-us-left {
  text-align: center;
}
}
@media(max-width:640px){
.header{
         min-height: 430px;
}
.caption {
        width: 95%;
        height: 97.7%;
        margin-top: 7px;
}
.text {
       padding-top: 16em;
}
.caption.capt {
         height: 100%;
         width: 95%;
         margin-top: 0px;
}
.caption.car {
    height: 100%;
    width: 95%;
    margin-top: 0px;
}
.caption.cat {
    height: 100%;
    width: 96%;
}
.text.sma {
      padding-top: 7em;
}
.text.big {
      padding-top: 35em;
}
h1 {
     font-size: 1.5em;
}
.work {
    padding:3em 0;
}
.about {
    padding: 3em 0px;
}
.about-left h3 {
             font-size: 1.8em;
} 
.contact-main h3 {
            font-size: 2.5em;
}
.contact-left h3{
       font-size:1.3em;
}
.about-left span.e {
          left: 23em;
          top: 1em;
}
}
@media(max-width:480px){
.contact-left h5 {
     font-size: 1.2em;
}
.contact-main h3 {
          font-size:1.8em;
}
.contact-left h3 {
          font-size: 1.2em;
}
.contact-left h4 {
        font-size: 1.2em;
}
}
@media(max-width:320px){
.contact-main h3 {
              font-size: 1.3em;
              margin-top:0px;
}
.contact-left h3 {
           font-size: 1em;
}
.contact-left h4 {
              font-size: 1em;
}
.contact-left h5 {
               font-size: 1em;
}
.contact {
        padding: 1em 0px;
}
.contact-left ul li {
        padding: 2px 0px;
}
.contact span.c {
            display: none;
}
input[type="text"] {
            width: 95%;
            font-size: 11px;
}
textarea {
      width: 95%;
      height: 10em;
      font-size: 11px;
}
.contact-left p {
         font-size: 0.6em;
         margin-bottom:5px;s
}
.contact-left li a {
          font-size: 10px;
}
input[type="submit"] {
            font-size: 10px;
}
.contact-us-top h3 {
  font-size: 1.2em;
}
.contact-us {
  padding: 1em 0px;
}
.contact-us-top {
  padding: 0em 0px 2em 0px;
}
.contact-us-left input[type="text"] {
  width: 98%;
}
.contact-us-left textarea {
  width: 97.5%;
}
.contact-us-right h3 {
  font-size: 1.2em;
  font-weight: 400;
  color: #000;
}
.contact-us-right p{
  font-size: 13px;
  color: #000;
}
}