
section {
    padding: 30% 0;
    text-align: center;
}
.map { 
  height: 100vh;
  width: 100%;
  background-size: cover;
  display: table;
  background-attachment: fixed;
  background: #5f0b1c;
}
section.team { 
  height: 100vh;
  width: 100%;
  background-size: cover;
  display: table;
  background-attachment: fixed;
  background-image: url(parallax_image/wp4.jpg); 
}
section.gallery { 
  background-image: url(parallax_image/wp3.jpg);
}
section.about { 
  height: 100vh;
  width: 100%;
  background-size: cover;
  display: table;
  background-attachment: fixed;
}
section.contact { 
    height: 100vh;
    width: 100%;
    background-size: cover;
    display: table;
    background-attachment: fixed;
    background-image: url(parallax_image/wp0.jpg); 
}